- if @invitation_token
  = hidden_field_tag 'invitation', @invitation_token

#joke
  %p
    = "\"Howdy! My name is"
    = f.text_field :first_name, :autofocus => 'autofocus', :size => 15
    = f.text_field :last_name, :size => 15
    = "and a good email address for me is"
    - if (@invitation || @app_link)
      = f.text_field :email, :readonly => 'readonly', :style => 'color: #999'
    - else
      = f.text_field :email
    = ". Most days i work for"
    = text_field_tag "user_organization[name]", @user_organization.name
    = ".\""
  %p
    =raw "\"The <strong>subdomain</strong> i'd like to use for my account is"
    = text_field_tag "user_organization[permalink]", @user_organization.permalink
    =raw "<strong>.#{Teambox.config.app_domain}</strong> and in a perfect world I'd like my <strong>username</strong> to be"
    = f.text_field :login, :size => 15
    =raw "with a <strong>password</strong> of "
    = f.password_field :password, :autocomplete => 'off', :size => 15
    = "(to confirm, "
    = f.password_field :password_confirmation, :autocomplete => 'off', :size => 15
    = ")\""

